body { font-family: "Anonymous Pro"; }

main { margin: 20px; }

button { margin: 30px 0; }

label { margin: 30px 0 10px 0; }

label, input, select { display: block; }

input, button { font-family: inherit; }
